workflow/transcricao-n8n.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [100, 100]
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "youtube/transcribe",
        "responseMode": "lastNode"
      },
      "id": "2",
      "name": "Webhook (OPTIONS)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 100]
    },
    {
      "parameters": {
        "functionCode": "// Resposta de preflight CORS\nreturn [{\n  json: {},\n  headers: {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type'\n  },\n  statusCode: 204\n}];"
      },
      "id": "3",
      "name": "Responder CORS (OPTIONS)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube/transcribe",
        "responseMode": "lastNode"
      },
      "id": "4",
      "name": "Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "// Simular retorno da transcrição via webhook\nconst input = items[0].json;\nreturn [{\n  json: {\n    message: \"Transcrição recebida com sucesso via POST\",\n    dados: input\n  },\n  headers: {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type'\n  }\n}];"
      },
      "id": "5",
      "name": "Responder CORS (POST)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "watch",
        "folderId": "PASTA_ID_AUDIOS",
        "options": {}
      },
      "id": "6",
      "name": "Watch Google Drive",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [100, 600],
      "credentials": {
        "googleDriveServiceAccount": "GOOGLE_CREDENTIALS"
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "method": "POST",
        "authentication": "headerAuth",
        "sendBinaryData": true,
        "options": {},
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer SUA_CHAVE_OPENAI"
          }
        ]
      },
      "id": "7",
      "name": "Transcribe Audio (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [300, 600]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "Resuma este áudio com: tema principal, tópicos, decisões, participantes (se houver).",
        "temperature": 0.7
      },
      "id": "8",
      "name": "Resumo (ChatGPT)",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [500, 600],
      "credentials": {
        "openAIApi": "OPENAI_CREDENTIALS"
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upload",
        "fileName": "/Resumos/{{ $now.toISOString().split('T')[0] }}_resumo.md",
        "fileContent": "={{$json[\"choices\"][0][\"text\"]}}",
        "parents": []
      },
      "id": "9",
      "name": "Salvar Resumo no Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [700, 600],
      "credentials": {
        "googleDriveServiceAccount": "GOOGLE_CREDENTIALS"
      }
    },
    {
      "parameters": {
        "url": "https://seu-webhook.dev/notify",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"status\": \"Finalizado com sucesso\", \"arquivo\": \"{{$node[\\\"Salvar Resumo no Drive\\\"].parameter[\\\"fileName\\\"]}}\"}"
      },
      "id": "10",
      "name": "Webhook Notificação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [900, 600]
    }
  ],
  "connections": {
    "Webhook (OPTIONS)": {
      "main": [[{ "node": "Responder CORS (OPTIONS)", "type": "main", "index": 0 }]]
    },
    "Webhook (POST)": {
      "main": [[{ "node": "Responder CORS (POST)", "type": "main", "index": 0 }]]
    },
    "Watch Google Drive": {
      "main": [[{ "node": "Transcribe Audio (Whisper)", "type": "main", "index": 0 }]]
    },
    "Transcribe Audio (Whisper)": {
      "main": [[{ "node": "Resumo (ChatGPT)", "type": "main", "index": 0 }]]
    },
    "Resumo (ChatGPT)": {
      "main": [
        [{ "node": "Salvar Resumo no Drive", "type": "main", "index": 0 }],
        [{ "node": "Webhook Notificação", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "name": "Pipeline Transcrição + Webhook CORS",
  "settings": {},
  "tags": []
}