workflow/workflow-youtube-n8n.json
{
  "name": "YouTube Transcription with CORS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "youtube/transcribe",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook OPTIONS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 150]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {},\n  headers: {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type'\n  },\n  statusCode: 204\n}];"
      },
      "id": "2",
      "name": "CORS Response OPTIONS",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 150]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube/transcribe",
        "responseMode": "lastNode"
      },
      "id": "3",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 350]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "headerParameters": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{$env.OPENAI_API_KEY}}"
          }
        ],
        "bodyParametersJson": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Transcreva e resuma o vídeo do YouTube neste link: {{$json[\\\"videoUrl\\\"]}}\"\n    }\n  ]\n}"
      },
      "id": "4",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [500, 350]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    transcription: $json.choices[0].message.content\n  },\n  headers: {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type'\n  }\n}];"
      },
      "id": "5",
      "name": "Response with CORS",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 350]
    }
  ],
  "connections": {
    "Webhook OPTIONS": {
      "main": [[{ "node": "CORS Response OPTIONS", "type": "main", "index": 0 }]]
    },
    "Webhook POST": {
      "main": [[{ "node": "Call OpenAI", "type": "main", "index": 0 }]]
    },
    "Call OpenAI": {
      "main": [[{ "node": "Response with CORS", "type": "main", "index": 0 }]]
    }
  },
  "active": true
}