workflow/workflow-youtube-n8n.json
{
  "name": "YouTube Transcription",
  "nodes": [
    {
      "parameters": {
        "path": "youtube/transcribe",
        "method": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "none",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.OPENAI_API_KEY }}"
          }
        ],
        "bodyParametersJson": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Transcreva e resuma o vídeo do YouTube neste link: {{$json[\"videoUrl\"]}}\"\n    }\n  ]\n}"
      },
      "id": "2",
      "name": "Chamar OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "responseData": {
          "responseBody": "={{ $json.choices[0].message.content }}"
        }
      },
      "id": "3",
      "name": "Retornar resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chamar OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar OpenAI": {
      "main": [
        [
          {
            "node": "Retornar resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}